{% include "_top.html" %}

<main class="w-full h-100vh d-flex p-items-center flex-col j-content-center gap-4">
    <p id="info_text">Check your email and get your password reset-key</p>
    <form id="frm_reset_password" class="w-25% d-flex flex-col gap-4 mx-auto">
        <div class="d-flex flex-col">
            <label for="user_reset_key">
                <span>Password reset-key</span>
            </label>
            <input name="user_reset_key" type="text" mix-check="{{ x.REGEX_UUID4 }}" />
        </div>

        <div class="d-flex flex-col">
            <label for="user_password">
                <span>New password</span>
            </label>
            <input name="user_password" type="text" mix-check="{{ x.REGEX_USER_PASSWORD }}" />
        </div>

        <button mix-post="/reset-password" mix-data="#frm_reset_password">Change to new password</button>
    </form>
    <p>Or do you want to <a href="{{url_for('view_signup')}}">signup?</a></p>
</main>

{% include "_bottom.html" %}
