{% include "_top.html" %}

<main class="w-full ma-7">
    <section class="d-flex flex-row">
        <img src="../static/assets/dish_35.jpg" alt="" class="w-96">
        <div class="ma-8 d-flex flex-col">
            <h1 class="text-(6rem) text-a-center">Hi!</h1>
            <h2 class="text-(5rem)">Welcome to Delivr</h2>
            <legend class="a-self-center text-(1.2rem) pb-6">Choose what role you want to sign up as here!</legend>
                <div id="chooseRole" class="d-flex j-content-center gap-9">
                    <div class="gap-2 d-flex flex-col j-self-center">
                        <a id="customer" href="/signup?id=c56a4180-65aa-42ec-a945-5fd21dec0538" class="bg-c-(#00C2E8) text-c-(#ffffff) px-4 py-2 rounded-3">Customer</a>
                    </div>
                    <div class="gap-2 d-flex flex-col j-self-center">
                        <a id="partner" href="/signup?id=f47ac10b-58cc-4372-a567-0e02b2c3d479" class="bg-c-(#00C2E8) text-c-(#ffffff) px-4 py-2 rounded-3">Partner</a>
                    </div>
                    <div class="gap-2 d-flex flex-col j-self-center">
                        <a id="restaurant" href="/signup?id=9f8c8d22-5a67-4b6c-89d7-58f8b8cb4e15" class="bg-c-(#00C2E8) text-c-(#ffffff) px-4 py-2 rounded-3">Restaurant</a>
                    </div>
                </div>
        </div>
    </section>
</main>

{% include "_bottom.html" %}
